<div id="card">
    <div id="insede">
        <header>
            <div class="left">
                <div id="name">
                    {{monster().name}}
                </div>
            </div>
            <div class="right">
                <div id="hp"> 
                    {{monster().hp}}
                </div>
            </div>
            <img src="imgs/itineraire.png" alt="">
            <div> 
                {{monster().attackDescription}}
            </div>
        </header>
    </div>
</div>